.side{
	width: 20%;
	float: left;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.main{
	width: 80%;
	background-color: #eeeeee;
	float: left;
	border: 0px;
	margin: 0px;
	padding: 0px;

}
.sidenav{
	margin: 0px;
	padding-left: 10px;
	background-color: #30373e;
	padding-bottom: 2225px;
}
.sidenav a {
  color: #a9acae;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.sidenav a:hover {
  background-color: #ccc;
  color: black;
}

.sidenav a.active {
  background-color: #37a9e3;
  color: white;
}
.top{
	width: auto;
	height: 60px;
	background-color: #141619;
}
#bar{

	font-size: 25px;
	color: white;
	padding: 10px;
}
.create{
	color: white;
	margin-left: 70px;
	margin-top: -45px;
}
.search{
	color: white;
	margin-left: 190px;
	margin-top: -30px;
	opacity: 0.3;
}
.user{
	color: #db813a;
	font-size: 35px;
	margin-top: -45px;
	padding-right: 25px;
	float: right;
}
.message{
	margin-top: -35px;
	padding-right: 40px;
	color: #abacad;
	float: right;
	font-size: 25px;
}
.noti{
	float: right;
	font-size: 25px;
	color:  white;
	margin-top: -35px;
	padding-right: 30px;
}

.home{
	text-decoration: none;
	float: right;
	margin-top: -30px;
	padding-right: 90px;

}
#arrow{
	padding-right: 60px;
	float: right;
	margin-top: -27px;
	opacity: 0.2;
	color: grey;
}
.lib{
	float: right;
	margin-top: -30px;
	opacity: 0.5;
}
.con{
    border-radius: 4px;
    color: white;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.image{
	margin-left: -20px;
}
.latest{
	background-color: white;
	height: auto; 
	padding-bottom: 70px;
	margin-top: 20px;
}
.chat{
	background-color: white;
	height: auto; 
	color: #343a40;
	padding-bottom: 50px;
	margin-top: 20px;
}
.chatbox{
	color: white;
	background-color: #37a9e3;
	padding: 10px;
}
.text{
	background-color: white;
	color: #343a40;
    margin-top: 1px;
    padding:10px;
}
.todo{
	background-color: white;
	height: auto; 
	color: #3e5569;
	margin-top: 20px;
}
.today{
	color: #fff;
    float: right;
    border-radius: 15rem;
    padding: 5px;
    font-size: x-small;
    width: auto;
}
.box{
	background-color: white;
	height: 130px;
	color: #343a40;
	overflow-y: scroll;
	margin-top: -10px;
}
.box::-webkit-scrollbar {
    display: none;
}
.acc{
	background-color: white;
	height: auto;
	color: #3e5569;
	margin-top: 20px;
}
.prog{
	background-color: white;
	height: auto; 
	color: #3e5569;
	padding:25px;
	margin-top: 20px;
}
.datenews{
	float: right;
	color: #a1aab2;
	font-size: 17px;
	font-weight: 700;
	padding-right: 10px;
}
.monnews{
	float: right;
	color: #a1aab2;
	font-size: 15px;
	padding-right: 10px;

}
.news{
	background-color: white;
	height: auto; 
	color: #3e5569;
	margin-top: 2px;
	padding: 10px;

}
.last{
	background-color: white;
	height: auto; 
	color: #3e5569;
	margin-top: 20px;
	padding: 0px;
}
.last1{
	padding: 20px;
}
.last2{
	padding: 50px;
}
.final{
	text-align: center;
	color: #3e5569;
}
.site{
	background-color: white;
	height: auto;
	width: 100%;
	padding: 20px;
}
.inner{
	background-color: #343a40;
	height: 80px;
	padding: 10px;
	margin-top: 10px;
	color: white;
	text-align: center;
}
.boxnew{
	background-color: white;
	color: #343a40;
	margin-top: 20px;
	padding-bottom: 20px;


}









